.dropdown{
  display: inline-block;
}
.dropdown button{
  background-color: rgb(156, 156, 156);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown .content{
  display: none;
  position: absolute;
  background-color: rgb(232, 232, 232);
  min-width: 100px;
  box-shadow: 2px 2px 5px #313131;
}
.dropdown:hover .content{
  display: block;
}
.dropdown:hover button{
  background-color:rgb(92, 91, 90)
}
.dropdown a:hover{
  background-color: rgb(241, 241, 241);
}
* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  .leftcolumn {
    float: left;
    width: 75%;
  }
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    background-color: transparent;
  }
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }