body {
    background-color:rgb(251, 249, 249);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3, h4 {
    text-align: center;
}
.paragraph {
    text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
a {
    color:black;
}
div {
    height: 600px;
    width: 100%;;
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    height:50%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  
