body {
    background-color:rgb(251, 249, 249);
}
h1, h2, h3 {
    text-align: center;
}
h4 {
    text-align: center;
    font-size:130%;
}
.paragraph {
    text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    font-size:150%;
}
a {
    color:black;
}
div {
    height: 600px;
    width: 100%;;
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    height:50%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
  
