h1 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 140%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 100px;
}

.paragraph {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height:90%;
    width:25%;
    text-align: center;
    color: black;
}
.link {
    height:100%;
    text-align: left;
    width:20%;
    float: left;
    background: transparent;
}
a {
    color:white;
}
  .text {
    background-color:rgb(72, 191, 242, 0.6) ;
    width: 100%;
    text-align: center;
    font-size: 100%;
  }
  ul {
    text-shadow: #000 2px 0 4px;
  }
  h2, h3, h4, h5, h6 {
    margin-left:10px;
    margin-right:10px;
    font-size: 100%;
  }
  .dropdown{
    display: inline-block;
  }
  .dropdown button{
    background-color: rgb(106, 106, 106);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-right: 100%;
  }
  .dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
  }
  .dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(232, 232, 232);
    min-width: 100px;
    box-shadow: 2px 2px 5px #313131;
  }
  .dropdown:hover .content{
    display: block;
  }
  .dropdown:hover button{
    background-color:rgb(92, 91, 90)
  }
  .dropdown a:hover{
    background-color: rgb(241, 241, 241);
  }
 
