h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 140%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 100px;
}

div {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height:90%;
    width:25%;
    text-align: center;
    color: black;
}
.link {
    height:100%;
    text-align: left;
    width:20%;
    float: left;
    background: transparent;
}
a {
    color:white;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  .text {
    background-color:rgb(72, 191, 242, 0.6) ;
    width: 100%;
    text-align: center;
    font-size: 100%;
  }
  ul {
    text-shadow: #000 2px 0 4px;
  }
  h2, h3, h4, h5, h6 {
    margin-left:10px;
    margin-right:10px;
    font-size: 100%;
  }
 
