table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  body {
    background-color: pink;
  }
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 23%;
    background-color:black;
    color: white;
    text-align: center;
    height:100%;
  }
  tr:nth-child(even) {
    background-color: palevioletred;
  }

  progress[value] {
    width: 400px;
    height: 10px;
    margin-left:400px; 
    margin-right:500px;
  }
  ul {
    color:white;
    text-shadow: #000 2px 0 4px;
    background:transparent;
  }
  .table {
    width:60%;
    margin-left:500px; 
    margin-right:500px;
  }
  .header{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 26%;
    background-color:black;
    color: white;
    height:100%;
  }
  
 